/* Base Css*/

.gray-bg {
  background-color: #f3f3f4;
}
.loginscreen.middle-box {
    background-color: #ffffff;
  box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.05), 0 6px 8px 0 rgba(0, 0, 0, 0.04);
  margin-top: 50px;
    width: 100%;
    padding: 30px
}
.middle-box {
    max-width: 500px;
    z-index: 100;
    margin: 0 auto;
    padding-top: 40px;
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
}

.custom-colmd-css{
	width: 100%;
  height: 100vh;
	
}
.custom-cards_css{
  width: 371.2px;
  height: 530.4px;
  border-radius: 1.3px;
  background-color: #ffffff;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.24), 0 0 6px 0 rgba(0, 0, 0, 0.12);
}
.custom-card-subtitle{
 width: 168px;
height: 18px;
  mix-blend-mode: multiply;
  font-family: 'Lato', sans-serif;
  font-size: 13.8px;
  font-weight: 500;
  line-height: 1.27;
  text-align: left;
  color: #9b9b9b;
          margin-left: 2.5rem;
    margin-top: 1.5rem;
}
.custom-card-title{
	
	 width: 331.1px;
  height: 35.1px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.76;
  text-align: left;
  color: #3f3f3f;
	  margin-left: 2.5rem;
}
.custom-card-text{
	 width: 331.1px;
  height: 100px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  color: #3f3f3f;
margin-left: 2.5rem;
    margin-top: 1.5rem;	
}
.custom-primary-btn{
	
	  width: 339.8px;
  height: 60.2px;
  border-radius: 41.8px;
  background-color: #eb384f;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.31);
	 color: #eb384f !important;
	position: absolute;
    bottom: -5%;
    text-align: center;
    z-index: 999 !important;
    margin-left: 15px;
    margin-right: 15px;
}
.custom-primary-img{
	 width: 371.2px;
  height: 200.6px;
  object-fit: contain;
	
}
.custom-secoundary-img{
 width: 24px;
  height: 24px;
  object-fit: contain;
}
.custom-primary-btn-text{
 width: 192px;
  height: 24px;
  font-family: 'Lato', sans-serif;
  font-size: 16.1px;
  font-weight: 900;
  line-height: 2.5;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
      margin-left: 10px;

}
.custom-xp-number{
font-weight: bold;
  text-align: left;
  color: #9b9b9b !important;
}
.custom-xp{
    font-weight: bold;
}
.custom-coins{	
	font-weight: bold;
  text-align: left;
  color: #9b9b9b !important;
}
.custom-no-padding{
	padding: 0px !important;
}
.custom-leftnav-img{
 width: 50px;
  height: 50px;
  object-fit: contain;
 background-color: transparent;
     z-index: 9999;
    position: absolute;
    top: 357px;
    left: 167px;
}
.custom-righttnav-img{
 width: 50px;
  height: 50px;
  object-fit: contain;
     z-index: 9999;
    position: absolute;
    top: 357px;
    right: 174px;
}
.custom-right-prev{
	right: 85px;
}
.custom-left-prev{
	left: 78px;
}
.custom-no-margins{
	margin: 0px!important;
}
.container{
	max-width: 80% !important;
}
.custom-task-counter{
	width: 252px;
    height: 36px;
  font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.99;
    text-align: right;
    color: #eb384f;
    float: right;
}
.custom-modal-content{
 width: 559px;
  height: 542px;
  background-color: #ffffff;
  box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.05), 0 6px 8px 0 rgba(0, 0, 0, 0.04);

}
.custom-modal-header{
 width: 559px;
  height: 70px;
  background-color: #23b6f9;
}
.custom-modal-title{
	width: 214px;
  height: 35px;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.49;
  text-align: left;
  color: #ffffff;
}
.custom-task-icon{
width: 33.3px;
    height: 33.3px;
}
.custom-task-titletext{
	width: 257px;
  height: 44px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 2.2;
  text-align: left;
  color: #3f3f3f;
}
/* Navbra related css*/

.navbar {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 5px 0 rgba(0, 0, 0, .12);
    margin-bottom: 0px !important;
        background: #fff;
           padding: 0px;    
           height: 50px;
}

.top-navigation .navbar-brand {
    background: #eb384f;
    color: #fff;
    padding: 15px 25px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
     background-color: #eb384f !important;    color: white;
}
.nav-item{
	    margin-left: 30px;
}
.navbar-nav a{
	color: #333333;
	font-size: 16px;
}
.navbar-brand a:hover, a:focus{
	  color: #fff !importnat;
}
.navbar-nav .active> .nav-link {
   color: #eb384f !important;
    font-weight: bold;
    font-size: 16px;
}

