<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<menu>

	
	<!--student specific starts here -->
	<parent_links display_name="Dashboard" is_visible_in_menu="true" jsp_file="/student/dashboard.jsp" url="/student/dashboard.jsp" valid_role="student" />
	<parent_links display_name="Courses" is_visible_in_menu="true" jsp_file="/student/roles.jsp" url="/student/roles.jsp" valid_role="student" />
	<parent_links display_name="Skill Profile" is_visible_in_menu="true" jsp_file="/student/skill_profile.jsp" url="/student/skill_profile.jsp" valid_role="student" />
	<!-- student specific ends here -->
	<!--trainer specific starts here -->
	 <parent_links display_name="Dashboard" is_visible_in_menu="true" jsp_file="/student/dashboard.jsp" url="/student/dashboard.jsp" valid_role="trainer" />
	<parent_links display_name="Courses" is_visible_in_menu="true" jsp_file="/student/roles.jsp" url="/student/roles.jsp" valid_role="trainer" />
	<parent_links display_name="Skill Profile" is_visible_in_menu="true" jsp_file="/student/skill_profile.jsp" url="/student/skill_profile.jsp" valid_role="trainer" />
	<!-- trainer specific ends here -->
	
	<!--orgadmin specific starts here -->
	 <parent_links display_name="Dashboard" is_visible_in_menu="true" jsp_file="/orgadmin/dashboard.jsp" url="/orgadmin/dashboard.jsp" valid_role="org_admin" />
	 <parent_links display_name="Reports" is_visible_in_menu="true" jsp_file="/orgadmin/report/roles_report.jsp" url="/orgadmin/report/roles_report.jsp" valid_role="org_admin" />
	 <!-- <parent_links display_name="Scheduler" is_visible_in_menu="true" jsp_file="/orgadmin/scheduler.jsp" url="/orgadmin/scheduler.jsp" valid_role="org_admin" /> -->
	<!-- orgadmin specific ends here -->
	
		<parent_links display_name="Dashboard" is_visible_in_menu="true" jsp_file="/content_creator/dashboard.jsp" url="/content_creator/dashboard.jsp" valid_role="content_creator" />
		<parent_links display_name="Courses" is_visible_in_menu="true" jsp_file="/content_creator/courses.jsp" url="/content_creator/courses.jsp" valid_role="content_creator" />
	
	
</menu>